#login {
    margin: 0;
    padding-right: 15px;
    float: left;
    padding-top: 3px;
    font-size:11px;
    color:#eee;
  }
  
  #login,
  #login a {
    color: #999;
  }
  
  #login a {
    font-weight: bold;
  }
  #login a:hover {
    color:#000;
  }