.w3c { 
    height: 142px; 
    width: 173px; 
    display: block;
} 

.w3c1 {  
    height:25px;  
    width:125px; 
}  

.w3c2 {  
    height:21px;  
    width:28px; 
}  

.w3c3 {  
    height:21px;  
    width:21px; 
} 

.w3c4 {  
    height:21px;  
    width:21px; 
} 

.w3c5 {  
    height:21px;  
    width:21px; 
} 

.w3c6 {  
    height:236px;  
    width:603px; 
} 

.w3c7 {  
    height:236px;  
    width:603px; 
}  

.w3c8 {  
    height:236px;  
    width:603px; 
} 

.w3c9 {  
    height:236px;  
    width:603px; 
} 

.w3c10 {  
    height:236px;  
    width:603px; 
}  

.w3c11 {  
    height:236px;  
    width:603px; 
}  

.w3c12 {  
    height:236px;  
    width:614px; 
} 

.w3c13 {  
    height:236px;  
    width:603px; 
}  

.w3c14 {  
    height:191px;  
    width:290px; 
}  

.w3c15 {  
    height:198px;  
    width:290px; 
}

.w3c16 {  
    height:136px;  
    width:300px; 
}  

.w3c17 {  
    height:140px;  
    width:84%; 
} 

.w3c18 {  
    height:124px;  
    width:100%; 
}  
    
.w3c19 {  
    height:124px;  
    width:299px; 
}  
    
.w3c20 {  
    height:230px;  
    width:170px; 
}  

.w3c21 {  
    height:293px;  
    width:84%; 
}  

.w3c22 {  
    height:123px;  
    width:337px; 
} 

.w3c23 {  
    height:173px;  
    width:558px; 
} 

.w3c24 {  
    height:130px;  
    width:100%; 
}  

.w3c25 {  
    height:220px;  
    width:84%; 
}

.w3c26 { 
    height:205px;  
    width:206px; 
}  

.w3c27 {  
    height:211px;  
    width:313px; 
}  

.w3c28 {  
    height:156px;  
    width:313px; 
} 

.w3c29 {  
    height:189px;  
    width:313px; 
}  
    
.w3c30 {  
    height:201px;  
    width:313px; 
}  
    
.w3c31 {  
    height:344px;  
    width:543px; 
}  
    
.w3c32 {  
    height:192px;  
    width:522px; 
}  
    
.w3c33 {  
    height:221px;  
    width:256px; 
}  
    
.w3c34 { }  
    
.w3c35 { }  
    
.w3c36 { 
    height: 142px; 
    width: 173px; 
    display: block; 
}  
    
.w3c37{ 
    width:125px; 
}  
    
.w3c38 { 
    width:28px; 
}  
    
.w3c39 { 
    width:21px; 
}  
    
.w3c40 { 
    width:21px; 
}  
    
.w3c41 { 
    width:21px; 
}  
    
.w3c42 { 
    font-size: 28px;  
}  
    
.w3c43 { 
    font-size: 16px;  
}  
    
.w3c44 { 
    font-size: 16px; 
}  
    
.w3c45 { 
    margin: 0cm 0cm 7.5pt;  
}  
    
.w3c46 { 
    font-size: 18pt;  
}  
    
.w3c47 { 
    margin: 0cm 0cm 7.5pt;  
}  
    
.w3c48 { 
    font-size: 16px; 
}  
    
.w3c49 { 
    margin: 0cm 0cm 7.5pt;  
}  
    
.w3c50 { 
    font-size: 16px; 
}  
    
.w3c51 { 
    margin: 0cm 0cm 7.5pt;  
}  
    
.w3c52 { 
    font-size: 24px;  
}  
    
.w3c53 { 
    width:313px;
    float:left;
    /* margin-right:2px;  */
}  
    
.w3c54 { 
    color: rgb(26, 23, 27); 
    background-color: rgba(255, 255, 255, 0.917969);  
}  
    
.w3c55 { 
    color: rgb(26, 23, 27); 
    background-color: transparent; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px; 
    border-top-width: 0px; 
    border-right-width: 0px; 
    border-bottom-width: 0px; 
    border-left-width: 0px; 
    border-style: initial; 
    border-color: initial; 
    outline-width: 0px; 
    outline-style: initial; 
    outline-color: initial; 
    vertical-align: baseline; 
    background-image: initial;  
}  

.w3c56 { 
    color: rgb(26, 23, 27); 
    background-color: rgba(255, 255, 255, 0.917969);  
}  
    
.w3c57 { 
    color: rgb(26, 23, 27); 
    background-color: rgba(255, 255, 255, 0.917969);  
}  
    
.w3c58 { 
    color: rgb(26, 23, 27); 
    background-color: transparent; 
    text-decoration: none; 
    margin-top: 0px; 
    margin-right: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    padding-top: 0px; 
    padding-right: 0px; 
    padding-bottom: 0px; 
    padding-left: 0px; 
    border-top-width: 0px; 
    border-right-width: 0px; 
    border-bottom-width: 0px; 
    border-left-width: 0px; 
    border-style: initial; 
    border-color: initial; 
    outline-width: 0px; 
    outline-style: initial; 
    outline-color: initial; 
    vertical-align: baseline; 
    background-image: initial;  
}  
    
.w3c59 { 
    width:313px;
    float:left; 
}  
    
.w3c60 { 
    color: rgb(255, 0, 114);  
}  
    
.w3c61 { 
    width:313px;
    float:right; 
}  
    
.w3c62 { 
    width:300px; 
}  
    
.w3c63 { 
    color: rgb(26, 23, 27);  
}  
    
.w3c64 { 
    color: rgb(26, 23, 27);  
}  
    
.w3c65 { 
    color: rgb(26, 23, 27);  
}  
    
.w3c66 { 
    color: rgb(63, 170, 229);  
}  
    
.w3c67 { 
    color: rgb(26, 23, 27);  
}  
    
.w3c68 { 
    color: rgb(26, 23, 27);  
}  
    
.w3c69 { 
    width:232px;
    float:left;
    margin-right:10px; 
}  
    
.w3c70 { 
    width:232px;
    float:left;
    margin-right:1px; 
}  
    
.w3c71 { 
    background:###ITEM_VOTE_BAR_COLOR###; 
}  
    
.w3c72 { 
    width:1.36%; 
}  
    
.w3c73 { 
    width:4.09%; 
}  
    
.w3c74 { 
    width:55.21%; 
}  
    
.w3c75 { 
    width:39.33%; 
}  
    
.w3c76 { 
    width:232px;
    float:left; 
}  
    
.w3c77 { 
    background:###ITEM_VOTE_BAR_COLOR###; 
}  
    
.w3c78 { 
    width:1.28%; 
}  
    
.w3c79 { 
    width:37.74%; 
}  
    
.w3c80 { 
    width:1.16%; 
}  
    
.w3c81 { 
    width:59.82%; 
}  
    
.w3c82 { 
    width:232px;float:right; 
}  
    
.w3c83 { 
    background:###ITEM_VOTE_BAR_COLOR###; 
}  
    
.w3c84 { 
    width:80.48%; 
}  
    
.w3c85 { 
    width:0.67%; 
}  
    
.w3c86 { 
    width:2.91%; 
}  
    
.w3c87 { 
    width:15.94%; 
}  
    
.w3c88 { 
    width:313px;
    float:left;
    margin-right:0px; 
}  
    
.w3c89 { 
    visibility:hidden; 
}  
    
.w3c90 { 
    overflow: hidden; 
    height: 1px; 
}  
    
.w3c91 { 
    width:313px;
    float:left; 
}  
    
.w3c92 { 
    visibility:hidden 
}  
    
.w3c93 { 
    width:313px;
    float:right; 
}  
    
.w3c94 { 
    visibility:hidden 
}  
    
.w3c95 { 
    width:313px;
    float:left;
    margin-right:1px; 
}  
    .w3c96{ width:299px; }  
    .w3c97{ width:313px;float:left; }  
    .w3c98{ width:299px; }  
    .w3c99{ width:313px;float:right; }  
    .w3c100{ width:299px; }  
    .w3c101{ width:636px;float:left; }  
    .w3c102{ font-size: 14px; }  
    .w3c103{ width:170px; }  
    .w3c104{ font-size: 14px; }  
    .w3c105{ font-size: 16px; }  
    .w3c106{ font-size: 14px; }  
    .w3c107{ font-size: 14px; }  
    .w3c108{ font-size: 14px; }  
    .w3c109{ font-size: 14px; }  
    .w3c110{ font-size: 14px; }  
    .w3c111{ width:395px; }  
    .w3c112{ width:395px; }  
    .w3c113{ font-size: 14px; }  
    .w3c114{ width:337px; }  
    .w3c115{ width:337px; }  
    .w3c116{ width:558px; }  
    .w3c117{ width:558px; }  
    .w3c118{ font-size: 14px; }  
    .w3c119{ font-size: 14px; }  
    .w3c120{ font-size: 14px; }  
    .w3c121{ font-size: 14px; }  
    .w3c122{ font-size: 14px; }  
    .w3c123{ font-size: 14px; }  
    .w3c124{ width:558px; }  
    .w3c125{ width:206px; }  
    .w3c126{ width:636px; }  
    .w3c127{ width:313px; }  
    .w3c128{ width:313px; }  
    .w3c129{ font-size: 14px; }  
    .w3c130{ font-size: 14px; }  
    .w3c131{ color: rgb(0, 51, 255); }  
    .w3c132{ width:636px; }  
    .w3c133{ width:313px; }  
    .w3c134{ width:313px; }  
    .w3c135{ font-size: 14px; }  
    .w3c136{ font-size: 14px; }  
    .w3c137{ width:543px; }  
    .w3c138{ width:543px; }  
    .w3c139{ color: rgb(0, 51, 255); }  
    .w3c140{ width:522px; }  
    .w3c141{ margin-left:266px; }  
    .w3c142{ font-size: 24px; }  
    .w3c143{ font-size: 24px; }  
    .w3c144{ font-size: 24px; }  
    .w3c145{ width:313px;float:right; }  
    .w3c146{ border:none; overflow:hidden; width:292px; height:400px; }  
    .w3c147{  }