/************************CLICKS ENCUESTAS******************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


#click-encuesta1 .wrapper2 {
    width: 400px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    border-radius: 0.25rem;
    box-shadow: 3px 3px 36px rgba(0,0,0,0.2);
}
#click-encuesta1 .wrapper2 .title{
      color: #fff;
      color: black;
    line-height: 65px;
    text-align: center;
    text-align: left;
    background: #9C27B0;
    background-color: #E8FFF3;
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px 4px 0 0;
    /* padding: 0 !important; */
    /* margin: 0 !important; */
    margin-left: 20px;
    color:#777777;
}
#click-encuesta1 .wrapper2 .box{
  padding: 20px 30px;
  padding: 20px 10px;
  background: #fff;
  border-radius: 10px;
  padding-top: 0px;
}
#click-encuesta1 .wrapper2 .box label{
      display: flex;
    height: 53px;
    width: 100%;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 10px 0;
    padding-left: 11px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#click-encuesta1 #value-1:checked ~ .value-1,
#click-encuesta1 #value-2:checked ~ .value-2,
#click-encuesta1 #value-3:checked ~ .value-3,
#click-encuesta1 #value-4:checked ~ .value-4{
  background: #9C27B0;
  background: #E7F2F8;
  border-color:#9C27B0;
  border-color:#E7F2F8;
}
#click-encuesta1 .wrapper2 .box label .select-dots{
  height: 20px;
  width: 20px;
  background: #d9d9d9;  
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
}
#click-encuesta1 #value-1:checked ~ .value-1 .select-dots,
#click-encuesta1 #value-2:checked ~ .value-2 .select-dots,
#click-encuesta1 #value-3:checked ~ .value-3 .select-dots,
#click-encuesta1 #value-4:checked ~ .value-4 .select-dots{
  background: #fff;
  background: #1E73BE;
}
#click-encuesta1 .box label .select-dots::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
#click-encuesta1 #value-1:checked ~ .value-1 .select-dots::before,
#click-encuesta1 #value-2:checked ~ .value-2 .select-dots::before,
#click-encuesta1 #value-3:checked ~ .value-3 .select-dots::before,
#click-encuesta1 #value-4:checked ~ .value-4 .select-dots::before{
  background: #9C27B0;
  background: #E7F2F8;
  transform: translate(-50%, -50%) scale(1);
}
#click-encuesta1 .wrapper2 .box label .text{
  color: #333;
  font-size: 12px;
  font-weight: 400;
  padding-left: 10px;
  transition: color 0.3s ease;
}
#click-encuesta1 #value-1:checked ~ .value-1 .text,
#click-encuesta1 #value-2:checked ~ .value-2 .text,
#click-encuesta1 #value-3:checked ~ .value-3 .text,
#click-encuesta1 #value-4:checked ~ .value-4 .text{
  color: #fff;
  color: black;
}
#click-encuesta1 .wrapper2 .box input[type="radio"]{
  display: none;
}

/****************************************Click encuesta2*********************************/
#click-encuesta2 .wrapper2 {
    width: 400px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    border-radius: 0.25rem;
    box-shadow: 3px 3px 36px rgba(0,0,0,0.2);
}
#click-encuesta2 .wrapper2 .title{
      color: #fff;
      color: black;
    line-height: 65px;
    text-align: center;
    text-align: left;
    background: #9C27B0;
    background-color: #E8FFF3;
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px 4px 0 0;
    /* padding: 0 !important; */
    /* margin: 0 !important; */
    margin-left: 20px;
    color:#777777;
}
#click-encuesta2 .wrapper2 .box{
  padding: 20px 30px;
  padding: 20px 10px;
  background: #fff;
  border-radius: 10px;
  padding-top: 0px;
}
#click-encuesta2 .wrapper2 .box label{
      display: flex;
    height: 53px;
    width: 100%;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 10px 0;
    padding-left: 11px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#click-encuesta2 #click-encuesta2-value-1:checked ~ .click-encuesta2-value-1,
#click-encuesta2 #click-encuesta2-value-2:checked ~ .click-encuesta2-value-2,
#click-encuesta2 #click-encuesta2-value-3:checked ~ .click-encuesta2-value-3,
#click-encuesta2 #click-encuesta2-value-4:checked ~ .click-encuesta2-value-4{
  background: #9C27B0;
  background: #E7F2F8;
  border-color:#9C27B0;
  border-color:#E7F2F8;
}
#click-encuesta2 .wrapper2 .box label .select-dots{
  height: 20px;
  width: 20px;
  background: #d9d9d9;  
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
}
#click-encuesta2 #click-encuesta2-value-1:checked ~ .click-encuesta2-value-1 .select-dots,
#click-encuesta2 #click-encuesta2-value-2:checked ~ .click-encuesta2-value-2 .select-dots,
#click-encuesta2 #click-encuesta2-value-3:checked ~ .click-encuesta2-value-3 .select-dots,
#click-encuesta2 #click-encuesta2-value-4:checked ~ .click-encuesta2-value-4 .select-dots{
  background: #fff;
  background: #1E73BE;
}
#click-encuesta2 .box label .select-dots::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
#click-encuesta2 #click-encuesta2-value-1:checked ~ .click-encuesta2-value-1 .select-dots::before,
#click-encuesta2 #click-encuesta2-value-2:checked ~ .click-encuesta2-value-2 .select-dots::before,
#click-encuesta2 #click-encuesta2-value-3:checked ~ .click-encuesta2-value-3 .select-dots::before,
#click-encuesta2 #click-encuesta2-value-4:checked ~ .click-encuesta2-value-4 .select-dots::before{
  background: #9C27B0;
  background: #E7F2F8;
  transform: translate(-50%, -50%) scale(1);
}
#click-encuesta2 .wrapper2 .box label .text{
  color: #333;
  font-size: 12px;
  font-weight: 400;
  padding-left: 10px;
  transition: color 0.3s ease;
}
#click-encuesta2 #click-encuesta2-value-1:checked ~ .click-encuesta2-value-1 .text,
#click-encuesta2 #click-encuesta2-value-2:checked ~ .click-encuesta2-value-2 .text,
#click-encuesta2 #click-encuesta2-value-3:checked ~ .click-encuesta2-value-3 .text,
#click-encuesta2 #click-encuesta2-value-4:checked ~ .click-encuesta2-value-4 .text{
  color: #fff;
  color: black;
}
#click-encuesta2 .wrapper2 .box input[type="radio"]{
  display: none;
}
/****************************************Click encuesta3*********************************/
#click-encuesta3 .wrapper2 {
    width: 400px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    border-radius: 0.25rem;
    box-shadow: 3px 3px 36px rgba(0,0,0,0.2);
}
#click-encuesta3 .wrapper2 .title{
      color: #fff;
      color: black;
    line-height: 65px;
    text-align: center;
    text-align: left;
    background: #9C27B0;
    background-color: #E8FFF3;
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px 4px 0 0;
    /* padding: 0 !important; */
    /* margin: 0 !important; */
    margin-left: 20px;
    color:#777777;
}
#click-encuesta3 .wrapper2 .box{
  padding: 20px 30px;
  padding: 20px 10px;
  background: #fff;
  border-radius: 10px;
  padding-top: 0px;
}
#click-encuesta3 .wrapper2 .box label{
      display: flex;
    height: 53px;
    width: 100%;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 10px 0;
    padding-left: 11px;
    cursor: pointer;
    transition: all 0.3s ease;
}
#click-encuesta3 #click-encuesta3-value-1:checked ~ .click-encuesta3-value-1,
#click-encuesta3 #click-encuesta3-value-2:checked ~ .click-encuesta3-value-2,
#click-encuesta3 #click-encuesta3-value-3:checked ~ .click-encuesta3-value-3,
#click-encuesta3 #click-encuesta3-value-4:checked ~ .click-encuesta3-value-4{
  background: #9C27B0;
  background: #E7F2F8;
  border-color:#9C27B0;
  border-color:#E7F2F8;
}
#click-encuesta3 .wrapper2 .box label .select-dots{
  height: 20px;
  width: 20px;
  background: #d9d9d9;  
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
}
#click-encuesta3 #click-encuesta3-value-1:checked ~ .click-encuesta3-value-1 .select-dots,
#click-encuesta3 #click-encuesta3-value-2:checked ~ .click-encuesta3-value-2 .select-dots,
#click-encuesta3 #click-encuesta3-value-3:checked ~ .click-encuesta3-value-3 .select-dots,
#click-encuesta3 #click-encuesta3-value-4:checked ~ .click-encuesta3-value-4 .select-dots{
  background: #fff;
  background: #1E73BE;
}
#click-encuesta3 .box label .select-dots::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  transition: all 0.3s ease;
}
#click-encuesta3 #click-encuesta3-value-1:checked ~ .click-encuesta3-value-1 .select-dots::before,
#click-encuesta3 #click-encuesta3-value-2:checked ~ .click-encuesta3-value-2 .select-dots::before,
#click-encuesta3 #click-encuesta3-value-3:checked ~ .click-encuesta3-value-3 .select-dots::before,
#click-encuesta3 #click-encuesta3-value-4:checked ~ .click-encuesta3-value-4 .select-dots::before{
  background: #9C27B0;
  background: #E7F2F8;
  transform: translate(-50%, -50%) scale(1);
}
#click-encuesta3 .wrapper2 .box label .text{
  color: #333;
  font-size: 12px;
  font-weight: 400;
  padding-left: 10px;
  transition: color 0.3s ease;
}
#click-encuesta3 #click-encuesta3-value-1:checked ~ .click-encuesta3-value-1 .text,
#click-encuesta3 #click-encuesta3-value-2:checked ~ .click-encuesta3-value-2 .text,
#click-encuesta3 #click-encuesta3-value-3:checked ~ .click-encuesta3-value-3 .text,
#click-encuesta3 #click-encuesta3-value-4:checked ~ .click-encuesta3-value-4 .text{
  color: #fff;
  color: black;
}
#click-encuesta3 .wrapper2 .box input[type="radio"]{
  display: none;
}